/* project config */
$base-bgColor: black ;
$base-zIndex: 10 ;
$navigator-H: 40 ;
$navigator-color: white ;
$navigator-bgColor: $base-bgColor ;

$category-H: 40 ;
$category-color: white ;
$category-bgColor: $base-bgColor ;

$footer-H: 48 ;
$footer-color: white ;
$footer-bgColor: $base-bgColor ;

$layout-panel-bgColor: $base-bgColor ;
$layout-navigator-H: 60 ;
$layout-navigator-color: white ;
$layout-navigator-bgColor: $base-bgColor ;
$layout-footer-bgColor: #222 ;
$layout-footer-done-bgColor: red ;
